.mainback{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#579fbb+0,1c3b5e+100 */
  background: rgb(87,159,187); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(87,159,187,1) 0%, rgba(28,59,94,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(87,159,187,1) 0%,rgba(28,59,94,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(87,159,187,1) 0%,rgba(28,59,94,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#579fbb', endColorstr='#1c3b5e',GradientType=0 ); /* IE6-9 */
  padding: 20px;
}

.mainback h4,h6{
  color: #fff;
  font-weight: bold;
}
