<div class="container">
  <div class="row mainback">
    <div class="col-md-8">
      <h4>
        {{title}}
      </h4>
      <h6>{{subtitle}}</h6>
    </div>
    <div class="col-md-4">
      <nav class="navbar navbar-dark" style="float: right;">
        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-md" id="navbarResponsive">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <button type="button" class="btn btn-info" (click)="onAdd()">ADD</button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-info">Detail</button>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <app-tz [(showAddContainer)]="showAddContainer" (onClose)="onClose($event)"></app-tz>
    </div>
  </div>
</div>
